@import "intro.js/introjs.css";
@import "intro.js/themes/introjs-modern.css";

:root {
  --background: #f9f9f9;
  --foreground: #2e2e2e;
}

html {
  width: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 5%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 680px) {
  .sets_input {
    width: 20%;
  }
}

.sets_input {
  width: 50%;
}

.MuiTypography-h5 {
  &:hover {
    cursor: pointer;
  }
}

.MuiBox-root {
  padding-bottom: 1rem;
}

.introjs-tooltip {
  background-color: #ededed;
}

.introjs-tooltiptext,
.introjs-tooltip-title {
  color: #2e2e2e;
}

.introjs-bullets ul li a.active {
  background: #a8e6cf;
}

.introjs-button,
.introjs-button:hover,
.introjs-button:focus,
.introjs-button:active {
  border: 1px solid #ff6b6b;
  color: #2e2e2e;
}
